[submodule "a1-sockets-mininet"]
	path = a1-sockets-mininet
	url = git@github.com:Pyh2002/a1-sockets-mininet.git
[submodule "eecs489-pw-a2-videostreaming-via-cdn-main"]
	path = eecs489-pw-a2-videostreaming-via-cdn-main
	url = git@github.com:hollinsStuart/eecs489-a2-videostreaming-via-cdn.git
[submodule "eecs489-a2-videostreaming-via-cdn-main"]
	path = eecs489-a2-videostreaming-via-cdn-main
	url = git@github.com:hollinsStuart/eecs489-a2-videostreaming-via-cdn.git
[submodule "eecs489-a2-videostreaming-via-cdn"]
	path = eecs489-a2-videostreaming-via-cdn
	url = git@github.com:hollinsStuart/eecs489-a2-videostreaming-via-cdn.git
